### Python Data Types

1. Integer
2. Float
3. String
4. Boolean
5. List
6. Set
7. Tuple
8. Dictionary

-----------

### Mutable Python Data Types

Variable value can be changed.

1. List
2. Set
3. Dictionary

### Immutable Python Data Types

Variable value can NOT be changed.

1. Integer
2. Float
3. String
4. Boolean
5. Tuple

---

### Integer & Float

In [1]:
apple123 = 123

float123 = 123.5

print(apple123)

print(float123)

123
123.5

### String

In [2]:
string123 = "123"

string123

'123'

In [3]:
string123 = apple

NameError: name 'apple' is not defined

When creating a string variable, the value must be sorrounded by either double `"` or single quotes `'`. If it's not, python looks for a variable named `apple`, as we have done with `string123`, but we haven't defined any variable named `apple` so there's an error. 

The solution is to sorround `apple` with quotes.

In [4]:
string123 = "apple" # both do the same thing
string123 = 'apple' # both do the same thing

string123

'apple'

In [5]:
print(string123[0])
print(string123[1])

a
p

All indexing in every programming language starts at 0.

In [6]:
string123[0] = 'q'

TypeError: 'str' object does not support item assignment

String is an **immutable** type, as listed above. This means the value of the variable can not be changed, as I am trying to above changing the first character from `1` to `a`. 

The only way to change the value of variable `string123` is to assign it to a new value.

In [7]:
string123 = 'orange'

string123

'orange'

### Boolean

In [8]:
bool123 = True
bool123 = False

bool123

False

Any word must have quotes around it or Python throws an error, except if the word is a keyword. `True` and `False` are two keywords in Python that don't require quotes. 

`False` is not the same as `'False'`, likewise for `True` and `'True'`.

In [9]:
False == 'False'

False

### List

In [10]:
list123 = [100, 2, 2, 453.1231, 'apple', 'orange']

list123

[100, 2, 2, 453.1231, 'apple', 'orange']

Python lists allow for mixing different types of variables in the same list. In `list123` there are `integers`, `floats`, and `strings`.

In [11]:
print(list123[0])
print(list123[1])

100
2

In [20]:
print('First value of the list is:', list123[0])

list123[0] = 'new value'

list123

First value of the list is: new value

['new value', 2, 2, 453.1231, 'apple', 'orange']

Unlike the `string` example before, lists are **mutable**. This means the value of the list can be changed by positional indexing as shown above.

### Set

In [21]:
list123

['new value', 2, 2, 453.1231, 'apple', 'orange']

In [22]:
set123 = {100, 2, 2, 453.1231, 'apple', 'orange'}

set123

{100, 2, 453.1231, 'apple', 'orange'}

Python sets are just like lists except sets use `{` instead of `[`. Also sets don't allow for unique values, so instead of showing two 2's, there's only one.

### Tuple

In [23]:
print(list123)
print(set123)

['new value', 2, 2, 453.1231, 'apple', 'orange']
{2, 100, 453.1231, 'apple', 'orange'}

In [24]:
tuple123 = (100, 2, 2, 453.1231, 'apple', 'orange')

tuple123

(100, 2, 2, 453.1231, 'apple', 'orange')

Python tuples are also very similar to lists. They don't force unique values like sets though.

In [25]:
print('First value of the tuple is:', tuple123[0])

tuple123[0] = 12343

First value of the tuple is: 100

TypeError: 'tuple' object does not support item assignment

However, unlike lists tuples are **immutable** meaning they can't be changed with positional indexing. We ran into the same problem with strings previously.

### Dictionary

In [30]:
dict123 = {'a': 3, 'b': 5, 'a':10}  ## key-value pairs

dict123

{'a': 10, 'b': 5}

In [31]:
dict123[0]

KeyError: 0

Python dictionaries do NOT use positional indexing, like strings, lists, and tuples. Instead they use something called key-value pairs.

To access values in the dictionary you must use the keys of the dictionaries, meaning the values to left of the `:` in the dictionary.

Just like sets though, dictionaries do NOT allow duplicate values, meaning the keys to the left side of the `:`. There can be duplicate values to the right of the `:`.

In [32]:
dict123['a'], dict123['b']

(10, 5)

### Real-World Examples

- I find myself using strings, integers, floats, and booleans constantly. 
- For the others data types, that store multiple values, I find myself using `list` and `dictionary` much more often than `tuple` and `set`, with `tuple` extremely rarely.

---

Assume your building a program to manage a store of customers. 

- A `list` might store all the names of all your customers. 
- If you don't want to record names twice you would use a `set`, or convert the `list` to a `set`.
- If you want to store the names, as well as their phone numbers you would use a `dictionary`.